/* You can add global styles to this file, and also import other style files */
body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #adb0b2;
  background: -webkit-linear-gradient(#EFEFEF, #CACACC);
  background: -o-linear-gradient(#EFEFEF, #CACACC);
  background: -moz-linear-gradient(#EFEFEF, #CACACC);
  background: linear-gradient(#EFEFEF, #CACACC);
}


@media (max-width: 415px) {

  table.table-striped{
    font-size: 14px;
  }
  .table-striped > tbody > tr> td, .table-striped > tbody  tr  th {
    background-color: #ffffff;
    padding-left: 0;
    padding-right: 0;
  }
  .body-text {
    display: block;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 19px;
    line-height: 28px;
    max-width: 760px;
    padding: 0px 0px;
    margin: 0 auto;
  }


  .call-button{
    font-size: 17px;
    z-index: 10;
    display: block;
    position: fixed;
    width: 65px;
    top:80%;
    right: 40%;
    padding:20px;
    border-color: white;
    color: white;
    border-radius: 50px;
    background-color: rgba(79, 238, 88, 0.7);
  }
  .call-button:hover, .call-button:active, .call-button:visited{
    font-size: 17px;
    z-index: 10;
    display: block;
    position: fixed;
    width: 65px;
    top:80%;
    right: 40%;
    padding:20px;
    border-color: white;
    color: white;
    border-radius: 50px;
    background-color: rgba(18, 253, 0, 0.7);
  }

}
